spoilers/xmltest.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT brevsamling (brev)+>
<!ELEMENT brev ANY>
<!ELEMENT brevhuvud (#PCDATA)>
<!ELEMENT salutering (#PCDATA)>
<!ELEMENT stycke (#PCDATA|sidstart|nyrad)*>
<!ELEMENT poesi (versrad)+>
<!ELEMENT avslutningsfras (#PCDATA)>
<!ELEMENT signatur (#PCDATA)>
<!ELEMENT sidstart EMPTY>
<!ELEMENT nyrad EMPTY>
<!ELEMENT versrad (#PCDATA)>
<!ATTLIST sidstart sidnummer CDATA #REQUIRED>
